USE [master]
GO
/****** Object:  Database [ThangNDSP2023]    Script Date: 2/9/2023 8:02:30 PM ******/
CREATE DATABASE [ThangNDSP2023]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThangNDSP2023', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ThangNDSP2023.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ThangNDSP2023_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ThangNDSP2023_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThangNDSP2023].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThangNDSP2023]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 2/9/2023 8:02:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[username] [varchar](20) NOT NULL,
	[lastname] [nvarchar](100) NULL,
	[password] [nvarchar](200) NULL,
	[isAdmin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Registration] ([username], [lastname], [password], [isAdmin]) VALUES (N'admin', N'admin', N'admin', 'true')
INSERT [dbo].[Registration] ([username], [lastname], [password], [isAdmin]) VALUES (N'Duc', N'DucNV', N'12345', 'false')
INSERT [dbo].[Registration] ([username], [lastname], [password], [isAdmin]) VALUES (N'Hoa', N'HoaTT', N'12345', 'false')
GO
ALTER TABLE [dbo].[Registration] ADD  DEFAULT ((0)) FOR [isAdmin]
GO
USE [master]
GO